* {
    margin: 0;
    padding: 0;
}

body {
    background-color: darkgrey;
}

ul {
    list-style-type: none;
}

#rosterlist {
    
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.counter {
    text-align: center;
    color: black;
}

#battlemap {
    display: grid;
    grid-template-columns: 1032px;
    grid-template-rows: 768px;
    width: 1032px;
    
}

#battlegrid {
    grid-column: 1 / -1;
    grid-row: 1 / -1;
    display: grid;
    grid-template-columns: repeat(32, 1fr);
    grid-template-rows: repeat(25, 1fr);
    z-index: 20;
}

.battlesquare {
    opacity: 0.1;
    border: rgb(243, 236, 236) 1px dotted;    
}

.battlesquare:hover{
    opacity: 0.8;
    z-index: 20;
    color: aliceblue;
    background-color: aliceblue;
}

#player_layer{
    
    grid-column: 1 / -1;
    grid-row: 1 / -1;
    display: grid;
    grid-template-columns: repeat(32, 1fr);
    grid-template-rows: repeat(25, 1fr);
    
    z-index: 4;
    opacity: .7;
}

.char {
    font-size: 8px;
    border-radius: 50%;
    color: white;
    display: none;
}

.char:hover{
    opacity: 1;
    background-color: rgb(221, 209, 130);
}

.pc {
    background-color: rgb(26, 70, 244);
}

.npc {
    background-color: red;
}

.pointer {
    border-radius: 50%;
    opacity: 0.5;
    z-index: 10;
    background-color: white;
}

#pointer{
    grid-column: 15;
    grid-row: 12;
}

#pc1 {
    grid-column: 2;
    grid-row: 2;
}
#npc1 {
    grid-column: 1;
    grid-row: 1;
}



#map {
    opacity: 1;
    grid-column: 1 / -1;
    grid-row: 1 / -1;
}

#menu {
    background-color: beige;
    display: inline-block;
}

#joystick {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    width: 160px;
    height: 160px;
}

.joycontrol {
    width: 50px;
    height: 50px;
}

#up{
    grid-column: 2;
    grid-row: 1;
}

#down{
    grid-column: 2;
    grid-row: 3;
}
#left{
    grid-column: 1;
    grid-row: 2;   
}
#right{
    grid-column: 3;
    grid-row: 2;
}
#upleft{
    grid-column: 1;
    grid-row: 1;
}
#upright{
    grid-column: 3;
    grid-row: 1;
}
#downleft{
    grid-column: 1;
    grid-row: 3;
}
#downright{
    grid-column: 3;
    grid-row: 3;
}

#roster{
    color:brown;
}

.rosteritem{
    background-color: rgb(209, 171, 244);
    margin: 0.2rem;
}

#addNPC_btn{
    background-color: rgb(244, 133, 133);
    border-radius: 5%;
    color: beige
}

#addPC_btn{
    background-color: rgb(113, 113, 236);
    border-radius: 5%;
    color: beige
}

#battlegrid:nth-child(even){
    position: relative;
    left: 16 px;
    background-color: brown;
}