@import url('https://fonts.cdnfonts.com/css/futhark-vikings');
@import url('https://fonts.cdnfonts.com/css/valhagreat');
@import url('https://fonts.cdnfonts.com/css/gunung-giant');
@import url('https://fonts.cdnfonts.com/css/cocobiker');
@import url('https://fonts.cdnfonts.com/css/rockmaker');


body {
    font-family: Rockmaker, "UnifrakturCook", cursive, CocoBikeR, 'GUNUNG GIANT','Valhagreat', 'FUTHARK VIKINGS';
}


  

#ability_sheet {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    flex: 70%; 
    background-color: rgb(95, 142, 228);
    }


.base-ability {
    width: 450px;
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: rgb(211, 88, 88);
}
.speciality {
    display: flex;
    width: 250px;
    font-size: .8rem;;
}

.ab-wrap {
    padding: 4px;
}

#character_name {
    display: inline;
}

#roll_result {
    background-color: #9DD6F5;
    font-size: 1.5rem;
    text-align: center;
    flex: 30%;
}



details {
    display: inline;
}
details summary {
    /*display: inline-block;*/
    cursor: pointer;    
}

details summary > * {
    display: inline;
}

.charsheet{
    background-color:white;
    font-size: medium;
}